<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Rating</title>
</head>
<body>
<form action="{{ url_for('edit') }}" method="POST">
    <p> Book Name: {{ book.title }} </p>
    <p>Current Rating {{book.rating}}</p>
    <input hidden="hidden" name="id" value="{{book.id}}">
<!-- id will be send to route(/edit) and its value comes from the db: book.id-->
<!-- the id of the book that has to be given new rating-->
    <input name="rating" type="text" placeholder="New Rating">
<!-- this will get the new value of the rating-->
    <button type="submit">Change Rating</button>

</form>


</body>
</html>