<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Library</title>
  </head>
  <body style="font-family: 'Montserrat', sans-serif;
              margin: 50 50;
              width: 50%;
              padding: 10px;">
    <h1>My Library</h1>
    {% if not books %}
    <p> Library is empty. </p>
<!-- this here means if the list all_books on the server named books -->
<!-- for html is empty then it will display this p tag-->
    {% endif %}
    <ul>
      {% for book in books %}

      <li>
          <a href="{{ url_for('delete', id=book.id) }}">Delete</a>
        {{book.title}} - {{book.author}} - {{book.rating}}/10
        <a href="{{url_for('edit', id=book.id)}}">Edit Rating</a>
      </li>

      {% endfor %}
    </ul>

    <a href="{{ url_for('add') }}">Add New Book</a>
<!--  for the click button to redirect us to /add page we add its url-->
  </body>
</html>
